/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------Fin Css reset----------------------*/

*{
  box-sizing: border-box;
}

body{

}

h1, h2, h3, h4, h5, h6{

}

@font-face {
    font-family:"sudden";
    src: url(../fonts/sudden-desires/Sudden_Desires.ttf);
}

p {
  font-family: 'Montserrat', sans-serif;
}

.contenedor{
	background-image: url("../images/background_fid.jpg");
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.main-header{
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.clase{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
}

.botones-navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .boton-login button{
  margin: 10px;
} */

.modal-footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* .main-header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 5em;
}

.main-header h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
} */

.fuente
{
	font-size: 20px;
	font-family: "sudden";
}

.logo-movile{
	display: block;
}

.logo{
	display: none;
}

.logo-movile img{
	width: 118px;
	height: 50px;
}

.logo img{
	width: 118px;
	height: 50px;
}

.banner-movile{
	position: relative;
}

.banner {
	display: none;
  /* width: 100%;
  margin: 10px auto; */
}

.icono-banner
{
	padding: 0;
}

.icono-banner img
{
	padding: 0;
	width: 30px;
	height: 30px;
}

.carousel-item img{
  /*Consultar por altura de imagen*/
}

.main-section {
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}

.main-section h2{
  /* font-family: 'Lato', sans-serif; */
}

.main-section article{
  margin: 25px 0;
}

.articulos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* CATEGORIAS */

.categorias
{display: none;}


.dropdown{
  margin: 10px;
}

.dropdown-toggle{
  width:100%;
}

.dropdown-menu.show {
    display: block;
    width: 100%;
    text-align: center;
}

.contacto{
  margin: 20px auto;
  width: 100%
}

.formulario{
  margin: 20px auto;
  background-color: #fff;
}

.form-group{
  margin: 0 auto;
  width: 80%;
}

.btn-ttc{
  margin-left: 10%;
  width: 20%;
}

.pie_pagina{
  width: 100%;
  background-color : rgba(22, 24, 34, 0.7);
	color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fuente-pie
{
	font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.pie_pagina{
	display: block;
	text-align: center;
}

.footer
{
	margin: 0 auto;
}

.copyright{
  color: grey;
	text-align: center;
}

/*------------------
======BOX===========
------------------*/
.container-boxes{
	margin: 3% 0 1% 0;
}

.box{
	position: relative;
	border: 15px solid transparent;

}

.box-items
{
	position: absolute;
	border-top: 0;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	font-family: "Montserrat";
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2%;
}

.box-img {
	width: 100%;
	border-radius: 2%;
}

.box-items li{
	font-size: 50px;
	font-family: "sudden";
	margin: 15px;

}

/* ============================================================ */
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}
#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }
#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}}
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
/* ============================================================ */


@media (min-width: 426px)
{

	/* NAVBAR */
	.logo{
		display: block;
	}

	.logo-movile img{
		display: none;
	}

	.clase{
		display: flex;
	}

	/* BANNER */
	.banner{
		display: block;
	}

	.banner-movile{
		display: none;
	}

	/* PIE DE PAGINA */
	.pie_pagina{
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  justify-content: space-around;
		text-align: center;
	}

	.footer
	{
		margin: 0 auto;
	}

	/* BOX */
	.container-boxes{
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  justify-content: space-around;
		margin: 3% 0 1% 0;
	}

	.box{
		position: relative;
		width: 33%;
		border: 5% solid transparent;
	}

	.box-items
	{
		position: absolute;
		border-top: 0;
		bottom: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		text-align: center;
		color: white;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.box-img {
		width: 100%;
	}

	.box-items li{
		margin: 5% 0 5% 0;
		font-size: 30px;
		margin: 15px;
	}

		/* CATEGORIAS */

		.categorias
		{display: block;}

}
